<section id="about" class="relative bg-spacecon-redish flex justify-center w-full text-spacecon-white p-10">
    <div class="w-full flex-col space-y-10 xl:w-2/3">
        <div class="lg:text-right">
            <h1 class="text-5xl sm:text-6xl lg:text-7xl font-semibold tracking-tighter">What is SpaceCon?</h1>
            <h2 class="text-4xl tracking-tighter font-medium">Think ComiCon, but for space.</h2>
        </div>
        <div class="flex flex-col lg:flex-row justify-center items-center w-full">
            <div class="w-full text-center sm:w-2/3 md:w-1/3">
                <img width="1079" height="1100"
                    srcset="./img/gather-480.webp 480w, ./img/gather-640.webp 640w, ./img/gather.webp 1079w"
                    sizes="(max-width: 480px) 100vw, (max-width: 640px) 50vw, 33vw" loading="lazy"
                    alt="Anime style image featuring a gathering of multiple alien species together, in the tones of red, violet and purple" />

            </div>
            <div class="w-full flex lg:justify-end lg:w-2/3 lg:px-4 py-20">
                <div class="flex-col space-y-8 lg:w-2/3">
                    <p>
                        SpaceCon is a convention dedicated to space and space
                        enthusiasts. We aim to offer an <strong>informal, accessible, inclusive and fun
                            atmosphere</strong>, because we
                        believe
                        that the best chances in life occur when you're not waiting for them.
                    </p>
                    <p>
                        The first idea of SpaceCon came out when visiting the US. We
                        were attending a SpaceX launch at Vandenberg Base, early in the
                        morning. When we arrived, we saw a multitude of space enthusiasts gathered there
                        for this great event, cooking hot-dogs and looking at the sky. One group also invited
                        us on their truck to watch the launch together
                    </p>
                    <p>
                        Back in Europe we told ourselves we wanted to bring back with us that spirit. And make
                        an event out of it, an event that could celebrate the naïve, genuine passion for the space
                        endeavor.
                        Because space adventures have the absolute unique gift of inspiring generations.
                    </p>
                </div>
            </div>
        </div>

        <div class="flex-col justify-center items-center w-full py-20">
            <div class="flex-col space-y-8 lg:w-2/3">
                <div>
                    <h1 class="text-5xl sm:text-6xl lg:text-7xl font-semibold tracking-tighter">Who drives SpaceCon?
                    </h1>
                    <h2 class="text-4xl tracking-tighter font-medium">SpaceCon is a non-profit</h2>
                </div>
                <p>
                    SpaceCon is managed and organized by a homonymous non-profit
                    association registered in France. Behind the association there
                    is a diverse group of people, coming from all over the world,
                    working remotely and donating their free time to offer the best
                    experience possible.
                </p>
                <p class="text-4xl">
                <ul class="grid text-xl text-center sm:grid-cols-2 lg:text-left lg:grid-cols-3">
                    {% for user in users %}
                    <li class="mr-4">{{ user["name"]["fullName"] }}</li>
                    {% endfor %}
                </ul>
                </p>
            </div>
            <div>
                <p class="text-4xl">
                <h3 class="text-3xl tracking-tighter font-medium">Senior Advisors</h3>
                <ul class="text-xl">
                    <li class="mr-4">Wolfgang Duerr, Head of Marketing and Sales Space Exploration at Airbus Defence &
                        Space, President of EURO2MOON</li>
                    <li class="mr-4">Bertrand Baratte, Space Market Director, AirLiquide, EURO2MOON General Secretary
                    </li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</section>
<section id="reach-us"
    class="relative bg-spacecon-redish flex items-center justify-center w-full text-spacecon-white p-10">
    <div class="w-full flex flex-col gap-10 xl:w-2/3">
        <h1 class="text-5xl sm:text-6xl lg:text-7xl font-semibold tracking-tighter">How to reach école polytechnique
        </h1>
        <iframe class="w-full"
            src="https://www.google.com/maps/d/embed?mid=1l3BmEod9esZZFaecvrI0P9eOJXsv_64&ehbc=2E312F" width="640"
            loading="lazy" height="480"></iframe>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
            <div class="flex-col">
                <h2 class="text-4xl tracking-tighter font-medium">By car</h2>
                <p>Take the east entrance to the campus, round point Denfert Rocheraut, and follow the map here above to
                    reach
                    the
                    parking zone ("Cour Vaneau"). Once parked, the entrance of the event will be in front of you (rocket
                    symbol
                    on
                    the map)
                </p>
            </div>
            <div class="flex-col">
                <h2 class="text-4xl tracking-tighter font-medium">By public transport</h2>
                <p>
                    Reach Massy-Palaiseau RER B station. From there take the 91.06 bus until the "Polytechnique Lozère"
                    stop. Walk few minutes to reach the "Cour Vaneau" and the main entrance (rocket in the map above)
                </p>
            </div>
        </div>
    </div>
</section>
