{% include "meta.html.j2" %}
<title>{{ TITLE }}</title>
<link rel="stylesheet" href="./css/style.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    as="style" onload="this.onload=null;this.rel='stylesheet'" />
<noscript>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" type="text/css" />
</noscript>
<link rel="icon" type="image/x-icon" href="./img/favicon.ico">
<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />
<style>
    .tippy-box[data-theme~='spacecon'] {
        background-color: #C5103E;
        color: #FEDEE5;
    }

    .tippy-box[data-theme~='spacecon'][data-placement^='top']>.tippy-arrow::before {
        border-top-color: #C5103E;
    }

    .tippy-box[data-theme~='spacecon'][data-placement^='bottom']>.tippy-arrow::before {
        border-bottom-color: #C5103E;
    }

    .tippy-box[data-theme~='spacecon'][data-placement^='left']>.tippy-arrow::before {
        border-left-color: #C5103E;
    }

    .tippy-box[data-theme~='spacecon'][data-placement^='right']>.tippy-arrow::before {
        border-right-color: #C5103E;
    }
</style>
