{% macro arrow(deg) -%}
<i class="rotate-[{{ deg }}deg] border-white border-r-[2px] sm:border-r-[3px] border-b-[2px] sm:border-b-[3px]
                    p-[2px] sm:p-[3px] rotate-45 transition-transform"></i>
{%- endmacro %}


<section class="flex-col items-center justify-center flex-1 z-0">
    <div class="relative h-full w-full overflow-hidden sm:overflow-visible">
        <div
            class="bottom-0 left-1/2 transform -translate-x-1/2 absolute bg-[#db1239c1] opacity-60 rounded-tl-full rounded-tr-full w-[20rem] lg:w-[52rem] h-[10rem] lg:h-[26rem]">
        </div>
        <div
            class="bottom-0 left-1/2 tranform -translate-x-1/2 absolute bg-[#db1239c1] opacity-50 rounded-tl-full rounded-tr-full w-[28rem] lg:w-[62rem] h-[14rem] lg:h-[31rem]">
        </div>
        <div
            class="bottom-0 left-1/2 tranform -translate-x-1/2 absolute bg-[#db1239c1] opacity-40 rounded-tl-full rounded-tr-full w-[36rem] lg:w-[72rem] h-[18rem] lg:h-[36rem]">
        </div>
        <div
            class="bottom-0 left-1/2 tranform -translate-x-1/2 absolute bg-[#db1239c1] opacity-30 rounded-tl-full rounded-tr-full w-[44rem] lg:w-[82rem] h-[22rem] lg:h-[41rem]">
        </div>
        <div
            class="top-1/3 p-4 sm:top-1/4  left-1/2 transform -translate-x-1/2 -translate-y-3/4 absolute text-white text-center font-bold text-4xl sm:text-5xl lg:text-7xl xl:text-8xl w-full">
            <h1>Live space to the fullest<span class="animate-ping">.</span></h1>
        </div>
        <div
            class="bottom-0 left-1/2 tranform -translate-x-1/2 absolute bg-skyline bg-mobile sm:bg-contain bg-no-repeat bg-bottom w-full h-full">
        </div>
        <div
            class="flex flex-col items-center lg:items-end gap-4 bottom-40 lg:bottom-1/4 left-1/2 w-full lg:w-1/4 lg:left-3/4 transform -translate-x-1/2 lg:-translate-x-3/4 translate-y-1/2 absolute text-white text-center lg:text-right">
            <div class="flex flex-col">
                <h2 class="tracking-tighter font-medium text-2xl sm:text-4xl md:text-5xl lg:text-6xl">16-19<sup>th</sup>
                    November</h2>
                <h3 class="tracking-tight text-xl lg:text-2xl">Palaiseau, France, Earth</h3>
                <h3 class="tracking-tight text-xl lg:text-2xl">École polytechnique</h3>
            </div>
            <div>
                <a href="https://pretix.eu/spacecon/2023" target="_blank"
                    class="tracking-tight text-lg lg:text-xl bg-white hover:bg-spacecon-white text-spacecon-violet py-2 px-4 rounded-lg"><i
                        class="fa-solid fa-ticket mx-2"></i><span>Register (it's free!)</span>
                </a>
            </div>
        </div>
        <div class="absolute bottom-12 left-1/2 transform -translate-x-1/2">
            <a href="#lineup" title="Discover SpaceCon lineup"><i
                    class="fa-solid fa-chevron-down text-xl md:text-2xl lg:text-3xl xl:text-4xl animate-bounce"></i></a>
        </div>
    </div>
</section>
