<!DOCTYPE html>
<html lang="{{ LANG }}" class="scroll-smooth">

{% block head %}

<head>
    {% include "head.html.j2" %}
</head>

{% endblock %}

{% block body %}

<body class="bg-spacecon-magenta bg-no-repeat bg-center h-screen text-white relative">

    {% include "starrysky.html.j2" %}

    <div id="home" class="flex flex-col h-screen">
        {% block navigation %}
        {% include "nav.html.j2"%}
        {% endblock %}
        {% include "hero.html.j2" %}
    </div>
    {% include "lineup.html.j2" %}
    {% include "program.html.j2" %}
    {% include "kspacecontest.html.j2" %}
    {% include "sponsor.html.j2" %}
    {% include "spaceconcept.html.j2" %}
    {% include "about.html.j2" %}

    {% block scripts %}
    {% include "scripts.html.j2"%}
    {% endblock %}

</body>

{% endblock %}

<!-- <script type="text/javascript" src="js/main.js"></script> -->

</html>
