{% macro player_info(id)%}
<fieldset class="p-3 border-2 border-solid border-spacecon-white/60 rounded-lg flex-col flex gap-2">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex flex-col justify-center space-y-2">
            <label for="First Name" class="block font-medium tracking-tight">First Name </label>
            <input type="text" name="First Name" placeholder="Jeb"
                class="text-spacecon-violet text-center rounded-lg p-2 focus:ring-spacecon-redish focus:border-spacecon-redish">
        </div>
        <div class="flex flex-col space-y-2">
            <label for="Last Name" class="block font-medium tracking-tight">Last Name </label>
            <input type="text" name="Last Name" placeholder="Kerman"
                class="text-spacecon-violet text-center rounded-lg p-2 focus:ring-spacecon-redish focus:border-spacecon-redish">
        </div>
        <div class="flex flex-col space-y-2">
            <label for="Nickname" class="block font-medium tracking-tight"><span class="mr-2">Preferred name
                    (optional)</span><i x-tooltip="tooltip"
                    class="fa-solid fa-circle-question cursor-pointer"></i></label>
            <input type="text" name="Nickname" placeholder="The Jebmeister"
                class="text-spacecon-violet text-center rounded-lg p-2 focus:ring-spacecon-redish focus:border-spacecon-redish">
        </div>
        <div class="flex flex-col space-y-2">
            <label for="Pronouns" class="block font-medium tracking-tight"><span class="mr-2">Preferred
                    Pronouns
                    (optional)</span><i x-tooltip="tooltip"
                    class="fa-solid fa-circle-question cursor-pointer"></i></label>
            <input type="text" name="Pronouns" placeholder="They/Them"
                class="text-spacecon-violet text-center rounded-lg p-2 focus:ring-spacecon-redish focus:border-spacecon-redish">
        </div>
    </div>
    <div class="flex flex-col space-y-2">
        <label for="email" class="block font-medium tracking-tight">Email</label>
        <input type="email" name="email" placeholder="jeb.kerman@ksp.space"
            class="text-spacecon-violet text-center rounded-lg p-2 focus:ring-spacecon-redish focus:border-spacecon-redish">
    </div>
    <div class="flex justify-end items-end">Player #{{ id }}</div>
</fieldset>
{% endmacro %}

<form
    x-data="{tooltip: {content: 'We require the following information for the purposes of helping our staff to address you in the best way possible and to understand our demography. It won\'t be shared with any third party.', theme: 'spacecon'}}"
    hx-post="{{ KSP_FORM_ENTRYPOINT }}/ksp/register" hx-push-url="true"
    hx-confirm="Are you sure all information is correct?" class="w-full flex flex-col space-y-4">
    {% if error %}<div> {{ error }} </div> {% endif %}
    <div class="flex flex-col md:flex-row gap-4">
        {{ player_info(1) }}
        {{ player_info(2) }}
    </div>
    <div class="flex flex-col space-y-2">
        <label for="team" class="block font-medium tracking-tight">Team Name</label>
        <input type="text" name="team" placeholder="The Kerbonauts"
            class="text-spacecon-violet text-center rounded-lg p-2 focus:ring-spacecon-redish focus:border-spacecon-redish">
    </div>
    <div class="flex flex-col gap-4">
        {% include "rules-en.html.j2"%}
        {% include "privacy.html.j2" %}
    </div>
    <div class="flex justify-center">
        <button class=" bg-spacecon-redish
            hover:bg-spacecon-redish/80 md:w-1/6 p-2 rounded-md">Continue</button>
    </div>
</form>
