{% extends "index.html.j2"%}

{% block head %}

<head>
    {% include "head.html.j2" %}
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata" rel="stylesheet">
</head>
{% endblock %}

{% block body %}

<body class="bg-spacecon-white lg:p-12 xl:p-20">
    <div class="flex justify-center min-h-screen">
        <div
            class="w-full lg:w-2/3 flex flex-col gap-4 p-2 md:p-4 lg:p-8  bg-spacecon-violet text-white lg:rounded-2xl">
            <nav class="text-white text-lg font-medium tracking-tight leading-tight flex justify-between">
                <a href="/{{ branch }}" class="flex items-center">
                    <i
                        class="border-white mr-2 border-r-[2px] sm:border-r-[3px] border-b-[2px] sm:border-b-[3px] w-3 h-3 rotate-[135deg] transition-transform"></i>
                    <span class="hover:underline">Back to SpaceCon</span>
                    <img src="img/logo-only.svg" width="5%" height="5%" alt="SpaceCon logo" />
                </a>
                <!-- Languages
                <div>
                    <a class="hover:underline" href="#" title="Switch to French language">FR</a> |
                    <a class="hover:underline" href="#" title="Switch to English language">EN</a>
                </div>
                -->
            </nav>
            <div class="w-full h-full flex flex-col space-y-8 justify-center items-center">
                <header class="text-center">
                    <h1 class="uppercase text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-bold tracking-tighter">
                        KSpaceContest
                    </h1>
                    <h2 class="text-xl md:text-2xl lg:text-3xl xl:text-4xl font-semibold tracking-tighter">
                        Register to the competition
                    </h2>
                </header>
                <div class="flex gap-4 w-4/5 justify-center" id="parent-div">
                    {% block ksp_form %}
                    {% include "ksp-form.html.j2" %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% block scripts %}
    {% include "scripts.html.j2"%}
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    {% endblock %}

</body>

{% endblock%}
