<section class="w-full relative lg:max-h-full flex-col overflow-hidden" id="ksp" data-video-id="xwZ5ilioQio">
    <lite-youtube videoid="faJSpDjuYw8" autoload videoStartAt="5" posterquality="maxresdefault" id="ksp-yt"
        params="autoplay=1&mute=1&loop=1&controls=0&modestbranding=1&playsinline=1&rel=0&enablejsapi=1&stop=196"
        class="w-[450%] ml-[-130%] sm:w-[200%] sm:ml-[-60%] sm:mt[-20%] lg:w-[200%] lg:ml-[-25%] lg:mt-[-10%] aspect-video">
    </lite-youtube>
    <div
        class="p-8 md:p-20 lg:p-40 flex items-center justify-center absolute top-0 left-0 w-full min-h-full bg-spacecon-violet/90">
        <div class="flex justify-center md:justify-end">
            <div class="flex-col space-y-8 w-full xl:w-3/5">
                <header class="flex-col space-y-4">
                    <h2
                        class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl tracking-tighter space-x-4 flex leading-tight font-bold uppercase opacity text-spacecon-white">
                        <span><span class="mr-2">#</span>KSpaceContest</span>
                        <a class="w-full" href="https://www.kerbalspaceprogram.com" target="_blank"><img
                                style="filter: invert(85%) sepia(5%) saturate(872%) hue-rotate(299deg) brightness(106%) contrast(99%);"
                                class="w-10 lg:w-16" width="1" height="1" alt="KSP Logo" src="./img/ksp.svg"
                                loading="lazy"></a>
                    </h2>
                    <h3 class="text-3xl sm:text-4xl md:text-5xl tracking-tighter font-bold  text-spacecon-white">
                        The first <span class="text-spacecon-redish">Kerbal Space Program</span> e-sport competition
                    </h3>
                    <div class="flex justify-between md:justify-start gap-4">
                        <a href="https://www.youtube.com/watch?v=faJSpDjuYw8" target="_blank"
                            class="w-1/2 md:w-1/4 bg-spacecon-redish hover:brightness-90 p-4 flex space-x-4 justify-center items-center rounded-md  md:text-lg font-medium tracking-tight">
                            <i class="fa-solid fa-play text-3xl"></i>
                            <span class="text-center"> 2021 Aftermovie </span>
                        </a>
                        <a href="https://pretix.eu/spacecon/kspacecontest/" target="_blank"
                            class="w-1/2 md:w-1/4 bg-spacecon-redish p-4 flex space-x-4 justify-center items-center rounded-md  md:text-lg font-medium tracking-tight">
                            <i class="fa-solid fa-people-group text-3xl"></i>
                            <span class="text-center">Join the audience</span>
                        </a>
                    </div>
                </header>
                <article class="text-spacecon-white flex-col space-y-4">
                    <p>
                        Come and join the competition! Register your team and participate in the first e-sport
                        contest
                        on Kerbal Space Program, now reaching the <strong>second edition</strong>! The day of the
                        competition,
                        a secret space mission will be unveiled, and you'll have <strong>24 hours</strong> to
                        complete
                        it.
                    </p>
                    <p>
                        A <strong> jury of space professionals </strong> will evaluate your space mission design and
                        the three best teams will be awarded a cash prize totaling <strong
                            class="font-semibold text-xl">1000€</strong>.
                    </p>
                </article>
                <div class="flex flex-col sm:flex-row gap-8">
                    <div class="w-full md:w-1/2 flex flex-col justify-center items-center space-y-3">
                        <h3 class="text-xl md:text-2xl lg:text-3xl font-semibold text-spacecon-white">Powered by</h3>
                        <a class="flex justify-center" href="https://www.omen.com/fr/fr.html" target="_blank">
                            <img style="filter: invert(85%) sepia(5%) saturate(872%) hue-rotate(299deg) brightness(106%) contrast(99%);"
                                loading="lazy" class="invert" src="./img/omen-black.svg" alt="Omen logo" width="100%">
                        </a>
                    </div>
                    <div class="w-full md:w-1/2 flex flex-col justify-center items-center space-y-3">
                        <h3 class="text-xl md:text-2xl lg:text-3xl font-semibold text-spacecon-white">In partnership
                            with</h3>
                        <a class="flex justify-center" href="https://kerbalspacechallenge.fr" target="_blank">
                            <img style="filter: brightness(0) saturate(100%) invert(85%) sepia(5%) saturate(872%) hue-rotate(299deg) brightness(106%) contrast(99%);"
                                loading="lazy" class="invert" src="./img/ksp-france-light.svg"
                                alt="Kerbal Space Challenge logo" width="50%">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    let player;

    function setupYT() {
        player = new YT.Player(
            document
                .querySelector('#ksp-yt')
                .shadowRoot.querySelector('iframe'),
            {
                events: {
                    onReady: onPlayerReady,
                },
            }
        );
    }

    function onPlayerReady() {
        player.playVideo();
    }

    document.addEventListener('liteYoutubeIframeLoaded', () => {
        try {
            setupYT();
        } catch (e) {
            setTimeout(setupYT, 100);
        }
    }, false);
</script>
