<section class="bg-spacecon-magenta p-10 md:p-20 flex flex-col gap-16 items-center justify-center min-h-full"
    id="lineup">
    <div class="w-full lg:w-2/3 flex flex-col space-y-4 items-center md:items-end">
        <h1 class="sm:text-5xl md:text-6xl lg:text-7xl text-4xl font-bold tracking-tight leading-none  text-white">
            <span>A top notch lineup!</span>
        </h1>
        <h2 class="md:w-2/3 text-3xl md:text-4xl lg:text-5xl font-bold tracking-tight leading-none text-right">
            Meet your space hero
        </h2>
    </div>
    <div class="w-full lg:w-5/6 flex flex-col md:flex-row flex-wrap gap-8 justify-center items-start">
        {% for item in lineup.values() %}
        <div class="p-4 flex flex-col gap-4 justify-center items-center w-full lg:w-1/5">
            <img src="./img/lineup/{{ item.img }}" alt="{{ item.fullname }}"
                class="w-48 h-48 object-cover rounded-full drop-shadow-xl" loading="lazy">
            <div class="flex flex-col justify-center items-center">
                <h3 class="text-lg md:text-xl font-semibold text-white">{{ item.full_name }} </h3>
                <h4 class="text-base md:text-md font-medium text-white text-center">{{ item.affiliation }} </h4>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
