{% macro article(title, body) -%}
<p>
<h3 class="text-lg font-medium">{{ title }}</h3>
{{ body }}
</p>
{%- endmacro %}

{% macro tick(color) -%}
<svg class="fill-{{ color }} inline" width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
        d="M12.78 4.62a.75.75 0 010 1.06l-6.097 6.097a.75.75 0 01-1.069-.009L3.211 9.284a.75.75 0 111.078-1.043l1.873 1.936L11.72 4.62a.75.75 0 011.06 0z">
    </path>
</svg>
{%- endmacro %}


{% macro program_table(program) %}
<table class="hidden sm:block text-sm sm:text-base min-w-full table-fixed">
    <thead>
        <tr class="border-b">
            <th class="text-left p-2 px-3">Time</th>
            {% set rooms = program.index.get_level_values("room").unique() %}
            {%- for room in rooms -%}
            <th class="text-left p-2 px-3">{{ room }}</th>
            {% endfor -%}
        </tr>
    </thead>
    <tbody>
        {%- for time in program.index.get_level_values("time").unique() -%}
        {% set subentries = program.xs(time) %}
        {%- if subentries.itertuples() | is_break -%}
        {% set row_class = 'text-spacecon-violet bg-spacecon-white'%}
        {% else %}
        {% set row_class = 'hover:bg-spacecon-violet'%}
        {%- endif -%}
        <tr class="border-b {{ row_class }}">
            <td class="p-2 px-3"><time> {{ time }}</time></td>
            {%- for room in rooms -%}
            <td class="p-2 px-3">
                {%- for subentry in subentries.itertuples() -%}
                {%- if room == subentry.Index -%}
                <strong>{{ subentry.title }}</strong><br />
                {% if subentry.speaker %}<span>{{ subentry.speaker }}</span>{% endif %}
                {%- endif -%}
                {%- endfor -%} {# subentries #}
            </td>
            {% endfor -%} {# rooms #}
        </tr>
        {%- endfor -%} {# time #}
    </tbody>
</table>

<div class="sm:hidden w-full gap-4 flex flex-col my-8">
    {% for event in program.itertuples() %}
    {% set room = event.Index[1] %}
    {% set time = event.Index[0] %}
    <div class="w-full p-4 rounded-md bg-spacecon-white text-spacecon-violet flex flex-col">
        <header class="flex justify-between">
            <span class="font-medium leading-tight">{{ event.title }}</span>
            <span class="text-sm">{{ time }}-{{ event.end_time}} </span>
        </header>
        {% if event.speaker %}
        <span class="italic">
            {{ event.speaker }}
        </span>
        {% endif %}
        <span class="text-sm">
            {{ room }}
        </span>
    </div>
    {% endfor %}
</div>

{% endmacro %}
