{% set menu_name = "main" %}
{% set menu = menus[menu_name] %}

<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('main', () => ({
            submenus: null,
            open: false,
            mobile: false,

            getSubMenus() {
                fetch('./main.json')
                    .then((response) => response.json())
                    .then((json) => {
                        this.submenus = json;
                    })
            },

            toggle(submenu) {
                let state = !this.submenus[submenu]
                this.submenus[submenu] = state
                for (let _submenu in this.submenus) {
                    if (_submenu != submenu) {
                        this.submenus[_submenu] = !state
                    }
                }
                this.open = state
            },

            reset(submenu) {
                this.submenus[submenu] = false
                for (let _submenu in this.submenus) {
                    if (this.submenus[_submenu]) {
                        return
                    }
                }
                this.open = false
            }

        }))
    })
</script>


<div id="main-menu" x-data="main" x-init="$nextTick(() => {getSubMenus()})"
    class="hidden md:visible md:flex md:w-full xl:w-1/2 md:justify-center md:items-center md:space-x-4">
    {% for item in menu %}
    {% if item.children is none %}
    <span class="text-xl lg:text-2xl hover:underline"><a title="{{ item.url.title }}" href="{{ item.url.href }}">{{
            item.title }}</a></span>
    {% else %}
    <button @click.away="reset('{{ item.id }}')" @click="toggle('{{ item.id }}')" class="flex items-center space-x-2">
        <span class="text-xl lg:text-2xl hover:underline">{{ item.title }}</span>
        <i :class="{'rotate-[225deg]': submenus?.{{ item.id }}, 'rotate-45': !submenus?.{{ item.id }}}" class=" border-white border-r-[2px] sm:border-r-[3px] border-b-[2px] sm:border-b-[3px]
                    p-[2px] sm:p-[3px] rotate-45 transition-transform"></i>
    </button>

    {% endif %}
    {% endfor %}
    <div class="bg-spacecon-violet w-1/4 bg-opacity-70 top-20  p-4 rounded-lg absolute items-center flex flex-wrap justify-center gap-4"
        x-show="open" x-cloak>
        {% for item in menu %}
        {% if item.children is not none%}
        {% for child in item.children %}
        <div class="flex flex-col space-y-4 items-center text-md xl:text-lg" x-show="submenus?.{{ item.id }}">
            <a href="{{ child.url.href }}" class="font-semibold hover:underline" title="{{ child.url.title }}"><i
                    class="{{ child.icon }} mr-2"></i>{{ child.title }}
            </a>
        </div>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
</div>



<div class="md:hidden" x-data="main" x-cloak>
    <div class="fixed top-0 left-0 bg-spacecon-violet opacity-90 w-full h-full" x-show="mobile" x-cloak x-transition>
    </div>
    <ul class="flex flex-col w-full gap-3 fixed bottom-24 left-6" x-show="mobile">
        <li @click="mobile = false" class="flex space-x-2 items-center">
            <a href="#home" title="Home"><button title="Home"
                    class="w-10 h-10 rounded-full p-2 bg-spacecon-redish text-xl flex justify-center items-center">
                    <i class="fa-solid fa-house text-lg text-spacecon-white"></i>
                </button></a>
            <a class="font-semibold tracking-tight" href="#home">Home</a>
        </li>
        {% for item in (menu|flatten_menu) %}
        <li @click="mobile = false" class="flex space-x-2 items-center">
            <a href="{{ item.url.href }}" title="{{ item.url.title }}"><button title="{{ item.title }}"
                    class="w-10 h-10 rounded-full p-2 bg-spacecon-redish text-xl flex justify-center items-center">
                    <i class="{{ item.icon }} text-lg text-spacecon-white"></i>
                </button></a>
            <a class="font-semibold tracking-tight" href="{{ item.url.href }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <button title="Mobile Navigation Menu" @click="mobile = !mobile" id="menububble"
        class="md:hidden w-12 h-12 fixed bg-sky-600 drop-shadow-lg rounded-full p-4 bottom-6 left-6 flex justify-center items-center">
        <span x-text="mobile ? '-' : '+'" class="text-spacecon-white text-xl font-bold"></span>
    </button>
</div>
