<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta name="author" content="@rdbisme" />
<meta name="description" content="{{ DESCRIPTION }}" />
<meta name="keywords" content="space,event,startup,kerbal space program,convention" />

<meta name="image" property="og:image" content="https://spacecon.io/img/og.webp" />
