<nav class="flex flex-col space-y-0  sm:flex-row w-full p-4  justify-center sm:justify-between items-center z-10">
    <div class="w-all sm:w-1/4 flex justify:between items-center space-x-2">
        <img class="block w-40 lg:w-64" src="./img/logo.svg" alt="SpaceCon logo" width="160" height="46.6">
        <div @click.away="open = false" x-data="{ open: false }" class="text-xl lg:text-3xl font-bold relative">
            <button @click="open = !open" class="flex items-center space-x-2">
                <span>2023</span>
                <i :class="{'rotate-[225deg]':open, 'rotate-45': !open}" class=" border-white border-r-[2px] sm:border-r-[3px] border-b-[2px] sm:border-b-[3px]
                    p-[2px] sm:p-[3px] rotate-45 transition-transform"></i>
            </button>
            <div x-cloak :class="{'flex': open, 'hidden':!open}"
                class="absolute top-8 left-0 origin-top-right flex-col font-light">
                <a class="hover:underline" href="https://2021.spacecon.io" target="_blank">2021</a>
                <a class="hover:underline" href="https://2019.spacecon.io" target="_blank">2019</a>
            </div>
        </div>
    </div>

    {% block main_menu %}
    {% include "main-menu.html.j2"%}
    {% endblock %}


    <div class="flex w-all sm:w-1/4 text-xl md:text-2xl space-x-4 justify-center items-center">
        <a title="Go to SpaceCon's Twitter account" class="hover:mb-1" href="https://twitter.com/spacecon_io"
            target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a title="Go to SpaceCon's LinkedIN  page" class="hover:mb-1"
            href="https://www.linkedin.com/company/spacecon-io/" target="_blank"><i
                class="fa-brands fa-linkedin"></i></a>
        <a title="Go to SpaceCon's YouTube channel" class="hover:mb-1" href="https://www.youtube.com/@spacecon_io "
            target="_blank"><i class="fa-brands fa-youtube"></i></a>
    </div>
</nav>
