{% from "macros.html.j2" import article with context %}

<div class="p-4 md:p-10 border-2 border-solid border-spacecon-redish rounded-lg flex flex-col space-y-4">
    <header class="sticky top-0 left-0 flex justify-between">
        <h2 class="text-lg md:text-xl font-semibold font-sans">
            Privacy Policy
        </h2>
        <label class="relative flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer" name="privacy">
            <div
                class="w-11 h-6 bg-spacecon-white peer-checked:bg-spacecon-redish peer-focus:outline-none peer-focus:ring-2 ring-spacecon-violet/30 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[4px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all">
            </div>
            <span class="hidden sm:inline text-xs sm:text-sm ml-3 font-medium text-white">
                Toggle to accept
            </span>
        </label>
    </header>

    <section class="font-mono h-[200px] overflow-scroll text-justify flex flex-col space-y-2 resize-y">
        This Privacy Policy describes how SpaceCon ("we," "us," or "our") collects, uses, and discloses your
        personal information when you participate to the KSPACECONTEST competition ("The Competition").
        {{ article("Information we collect", "
        Personal Information: We may collect personal information that you provide directly to us, such as your name,
        email
        address, contact details, and any other information you choose to provide. We might also take photos or videos
        of you during the Competition.
        ")}}

        {{ article("Use of Information", "
        We may use your personal information for various purposes, including:

        <ul>
            <li>Providing and maintaining our services</li>
            <li>Communicating with you, responding to inquiries, and providing customer support</li>
            <li>Enforcing our terms of service and protecting against fraudulent or unauthorized activities</li>
            <li>Complying with legal obligations</li>
            <li>Create promotional material related to us or The Competition</li>
        </ul>
        ")}}

        {{ article("Sharing of Information", "
        We may share your personal information in the following situations:

        <ul>
            <li>With service providers and partners who assist in the operation of our services limited to the duration
                of The Competition
            <li>With your consent or at your direction</li>
            <li>In response to a legal request, such as a subpoena or court order</li>
            <li>To protect our rights, privacy, safety, or property</li>
            <li>In connection with a merger, acquisition, or sale of assets</li>
        </ul>
        ")}}

        {{ article("Security", "
        We take reasonable measures to protect your personal information from unauthorized access, loss, misuse,
        disclosure,
        alteration, or destruction. However, no data transmission over the internet or electronic storage method is 100%
        secure,
        so we cannot guarantee absolute security.
        ")}}

        {{ article("Changes to This Privacy Policy", "
        We may update this Privacy Policy from time to time to reflect changes to our practices or for other
        operational, legal,
        or regulatory reasons. The \"Last updated\" date at the top of this page indicates when the policy was last
        revised.
        ")}}

        {{ article("Contact us", "
        If you have any questions or concerns about this Privacy Policy, please contact us at info@spacecon.io.
        "
        )}}

    </section>
</div>
