{% from "macros.html.j2" import program_table with context %}

<div class="flex flex-col items-center gap-2 justify-center">
    <h3 class="text-3xl font-medium tracking-tight"> 17<sup>th</sup> November </h3>
    <h4 class="text-2xl font-medium tracking-tight"> Hosted by {{ lineup['jercaianu'].full_name }} </h4>
    {{ program_table(program["17"])}}
</div>
