{% from "macros.html.j2" import program_table with context %}

<div class="flex flex-col items-center gap-2 justify-center">
    <h3 class="text-3xl font-medium tracking-tight"> 16<sup>th</sup> November </h3>
    {{ program_table(program["16"])}}
</div>
