<section class="bg-spacecon-magenta p-10 md:p-20 flex flex-col gap-16 items-center justify-center min-h-full"
    id="program">
    <div class="w-full lg:w-2/3 flex flex-col space-y-4 items-center md:items-end">
        <h1 class="sm:text-5xl md:text-6xl lg:text-7xl text-4xl font-bold tracking-tight leading-none  text-white">
            <span>Program of the event</span>
        </h1>
        <h2 class="md:w-2/3 text-3xl md:text-4xl lg:text-5xl font-bold tracking-tight leading-none">
            An event rich of talks, games, and opportunities to <span class="underline decoration-white">live space
                to the fullest</span>
        </h2>
    </div>
    <div class="w-full xl:w-2/3 flex flex-col gap-8 justify-center items-center">
        {% include "program-16.html.j2" %}
        {% include "program-17.html.j2" %}
        {% include "program-18.html.j2" %}
        {% include "program-19.html.j2" %}
    </div>
</section>
