<div class="p-10 border-2 border-solid border-spacecon-redish rounded-lg flex flex-col space-y-4">
    <header class="sticky top-0 left-0">
        <h2 class="text-xl font-semibold font-sans">
            Competition rules
        </h2>
    </header>

    <section class="font-mono max-h-[500px] overflow-scroll text-justify">
        <p>
        <h3 class="text-lg font-medium">Article 1 : contexte et application</h3>
        Bienvenue dans le règlement du KSPACECONTEST powered by OMEN HP qui s'inscrit dans le cadre de SpaceCon '23. Les
        membres
        de l'association Kerbal Space Challenge sont fiers de vous présenter cet évènement et nous remercions
        chaleureusement
        l'équipe de l'association SpaceCon de leur confiance et de nous renouveler cette mission pour le millesime 2023!
        Une petite présentation de nos deux entités :
        SpaceCon : SpaceCon est une association loi 1901 à but non lucratif. Ses membres sont des étudiants et jeunes
        actifs
        issus du plateau de Saclay mais aussi du monde entier en vue d'organiser un événement récurrent sur le spatial.
        L'association organise et gère l'événement appelé SpaceCon'nect 23.
        Kerbal Space Challenge (KSC): nous sommes une association de 10 passionnés et nous organisons, depuis un peu
        plus de
        cinq ans maintenant, les plus gros évènements de la communauté KSP Francophone. Nous avons à cœur de dynamiser
        les
        joueurs, de les réunir, et nous mettons à disposition des plateformes, forums, articles sans oublier bien sur
        les
        réseaux sociaux, rejoignez-nous (https://kerbalspacechallenge.fr). Promis, on doit refaire le site bientôt. Via
        les
        valeurs de partage et mis en avant des sciences et connaissances, KSC souhaite promouvoir et faire émerger des
        carrières
        scientifiques. Nous proposons maintenant des animations dans les grandes écoles autour de la plateforme Kerbal
        Space
        Program.
        Et si nous abordions vraiment le #KSpaceContest. L'évènement se déroule sur le week end du samedi 18 au dimanche
        19
        novembre 2023. Cette fois-ci, après délibérations des jurys, la remise des prix s'effectuera le dimanche après-
        midi..
        Le tout se déroule à Paris dans un cadre historique, l'école Polytechnique de Paris. Nous espérons que les
        valeurs
        de ce
        lieu unique, les valeurs de partage, d'entraide et d'altruisme enseignées, rayonneront sur nos participants. Un
        environnement pédagogique qui contraste avec la technologie d'une salle pleine de PC gamers mais qui saura
        révéler
        votre
        créativité et votre ingéniosité ! C'est notre partenaire HP OMEN qui sponsorise l'événement et nous permet de
        vous
        proposer du matériel de qualité, un grand merci à eux.
        Si cela devait vous motiver à mettre toute votre énergie, sachez que le grand gagnant de cette compétition KSP
        remportera la coquette somme de 500€ ! Les 2ème, 3ème et 4ème places du podium se partageront le Prize Pool
        constitué
        par le prix d'entrée à l'événement.
        </p>

        <p>
        <h3 class="text-lg font-medium">Article 2 : Inscription au tournoi</h3>
        L'inscription au tournoi se déroule sur le lien suivant : https://spacecon.io/ksp

        Vous devrez remplir un court formulaire avec les informations essentielles et vous acquitter de la somme de 15€
        par
        personne : cette somme sera versée dans un Prize Pool qui sera remporté par les 2ème, 3ème et 4ème places, voir
        Article
        6. En outre, ce prix d'entrée inclut directement un billet valable pour participer à la journée SpaceConnect du
        vendredi
        17 Novembre d'une valeur de 25€. , sous réserve d'une participation en bonne et due forme à la compétition,
        allant
        jusqu'au pitch de présentation de la première phase.
        Cette inscription est possible du 15 Aout 2023 au 15 Novembre 2023. Il ne sera pas possible de s'inscrire
        directement
        sur place le jour même. Attention : l'inscription est limitée en nombre de participants avec 19 slots, n'hésitez
        pas
        trop !
        A noter qu'il vous est possible et conseillé de participer à 2, mais ce n'est aucunement une obligation. Une
        case du
        formulaire vous invitera à saisir le nom de votre co-participant, il peut être joueur de KSP comme simple
        accompagnant,
        ce sera en tout cas le seul à pouvoir vous assister en présentiel pendant la compétition.
        Les participants devront avoir plus de 14 ans et les mineurs devront se munir d'une autorisation écrite à
        présenter
        le
        jour J de l'évènement.
        </p>

        <p>
        <h3 class="text-lg font-medium">Article 3 : déroulement de la compétition</h3>
        La compétition se déroule en deux phases bien distinctes : la réalisation et la présentation.
        Les participants sont attendus Samedi 18 novembre à 9h à l'école polytechnique de Paris. Des indications sur
        place
        vous
        permettront de retrouver nos équipes sans difficulté.
        Ils seront accueillis par un petit déjeuner buffet. Cet instant sera aussi l'occasion de faire connaissance
        entre
        vous
        autour de cette passion commune qui vous anime.
        à 9h45. Discours d'ouverture et présentation de l'équipe organisatrice, de l'épreuve et bien sûr du sujet et des
        règles
        additionnelles qui seront enfin dévoilés.
        Une salle équipée vous attendra : 24 ordinateurs disposeront du jeu ainsi qu'une sélection de mods directement
        pré-installés et commun à l'ensemble des participants. Il s'agira de quelques mods de parts uniquement, aucun
        changement
        de gameplay n'est à redouter, pas d'inquiétude. Un PC par équipe.
        à 10h. Coup d'envoi de l'épreuve. Celle-ci dure 24h. de manière ininterrompue jusqu'à Dimanche 10h.
        Vous aurez 24 heures pour réaliser votre mission sur KSP et préparer une présentation ainsi qu'un Pitch de 5
        minutes
        et
        pas une seconde de plus. C'est tout ce que le jury verra de votre travail, soyez donc particulièrement attentif
        à
        votre
        support, vos arguments, votre discours, votre engouement !
        Le midi, le soir et le lendemain matin seront mis à disposition des buffets pour ravitailler les candidats.
        Une salle de repos sera également mise à disposition par l'école pour vous ressourcer. Nous négocions
        actuellement
        des
        tarifs avantagés dans un apart'hotel avoisinant pour ceux qui recherchent le confort d'une véritable nuit.
        Compte tenu de ce nouveau format étendu de l'épreuve, nous vous conseillons très fortement de jouer l'épreuve
        par
        équipe
        de 2 pour vous relayer. En 2021, nous étions sur un sprint, en 2023, on tente le marathon.
        Dés le coup de sifflet final débuteront les présentations à 10h00.
        Le jury sera constitué de 6 à 8 personnes, divisés en deux demi jurys A et B pour être en mesure de faire passer
        l'ensemble des participants en environ 2h. Les personnes de chaque demi jury seront composées de joueurs de KSP
        et
        passionnés du spatial, appartenant respectivement à l'association Kerbal Space Challenge et au staff de
        l'association
        SpaceCon, ainsi qu'un expert et professionnel du domaine. Sachez convaincre ces différents types
        d'interlocuteurs,
        c'est
        essentiel.
        Chacun de ces demi jurys sélectionnera ses deux finalistes, au terme d'une délibération d'une vingtaine de
        minutes
        après
        le passage du dernier participant,
        Dimanche, vers 12h00 seront annoncés les 4 finalistes. Après une pause déjeuner bien mérité, À 13h3
        class="text-lg
        font-medium"0 les 4
        finalistes
        disposent cette fois ci de 10 minutes de présentation face au jury réunifié

        A 15h00 annonce du podium et du vainqueur.
        Nous restons à votre disposition pour répondre à d'éventuelles questions bien sûr.
        </p>

        <p>
        <h3 class="text-lg font-medium">Article 4 : Règles du jeu</h3>
        Les règles précises ne seront connues que le jour J, sur place ! C'est un format pour lequel vous ne pouvez rien
        préparer en amont, venez armés de votre talent, de votre créativité et de votre spontanéité
        Article 5 : Arbitrage
        Comme évoqué à l'article 3 de ce règlement, la compétition se déroule en deux phases, avec chacune son
        évaluation :
        Phase 1 : les participants présenteront leur pitch à deux demi-jurys de 3 personnes chacun, comptant 2 joueurs
        de
        KSP et
        passionnés du spatial, ainsi qu'un professionnel du milieu. Chaque demi-jury sélectionnera 2 participants parmi
        ceux
        qu'ils auront vu, sans se concerter avec l'autre demi-jury. Il n'y a pas de barème, pas de grille de notation,
        mais
        les
        jurés se seront concertés au préalable sur les objectifs de la compétition, les valeurs recherchées, les
        éléments
        clés,
        etc.
        Phase 2 : les 4 finalistes présenteront à nouveau leur pitch devant le jury réunifié. Ce jury. Il n'y aura pas
        de
        barème
        ni de grille de notation mais les jurés auront échangé entre eux sur leurs attentes. Ils définissent après
        concertation
        l'ordre des gagnants.
        Les décisions des jurés à chaque étape ne pourront être contestées. Ils sont seuls décisionnaires de la
        sélection
        des
        finalistes et de l'attribution des récompenses. Il n'est pas prévu de donner un classement ou un retour formel
        pour
        les
        participants de la première phase, toutefois nous invitons les joueurs à dialoguer avec les jurés et staff
        présents
        lors
        des 2 journée ainsi qu'avec les autres participants !
        Article 6 : Récompenses
        Au terme des 2 phases, les gagnants remporteront les récompenses suivantes :
        La première place remportera la somme de 500 euros.
        La seconde place remportera la somme correspondant à 60% du PrizePool constitué par les inscriptions à la
        compétition.
        La troisième place remportera la somme correspondant à 30% du PrizePool constitué par les inscriptions à la
        compétition.
        La quatrième place la somme correspondant à 10% du PrizePool constitué par les inscriptions à la compétition.
        Par exemple, si 24 participants s'inscrivent en s'acquittant des 15 euros obligatoires, cela constitue un
        PrizePool
        de
        360 euros. Le premier remporte dans tous les cas 500 euros, le second remporterait 216 euros, le troisième
        remporterait
        108 euros et le quatrième remporterait 36 euros, arrondi à l'euro supérieur si nécessaire. Tous les participants
        repartent avec quelques goodies de qualité !
        Les versements seront effectués sous 30 jours par voie bancaire.
        Article 7 : Infractions au règlement
        Pour assurer le bon déroulement de la compétition et l'équité entre les participants, voici quelques règles et
        interdictions formelles à respecter :
        Il est absolument interdit de manipuler le moindre fichier de l'installation KSP. Cela implique de ne pas
        pouvoir
        importer de craft ni en exporter, de ne pas modifier les caractéristiques des parts, de ne pas téléporter des
        éléments,
        mais également de ne pas installer ou retirer des mods, etc. Rien n'est autorisé dans le répertoire du jeu,
        excepté
        la
        récupération des screenshots stockés. Le staff sera très vigilant sur le sujet et se réserve le droit de
        vérifier
        l'intégrité de l'installation.

        Une fois la phase 1 terminée, les 4 finalistes ne sont pas autorisés à faire évoluer leur sauvegarde KSP. La
        présentation de la seconde phase ne doit se faire qu'avec les éléments disponibles à la sortie de la première
        phase.
        En
        revanche, ils peuvent emporter leur Save pour la revisiter chez eux et récupérer des informations. Ils peuvent
        également
        emporter l'ensemble du dossier Screenshots afin d'y trouver de nouvelles illustrations pour la présentation de
        la
        seconde phase. Il est néanmoins formellement interdit de faire de nouveaux screenshots grâce à la Save et de les
        intégrer à votre PowerPoint de la phase 2. Le staff disposera précisément du dossier tel qu'il fut scellé à
        l'issue
        de
        la phase 1 pour comparer.

        Vous seul, et votre éventuel co-participant, pouvez vous installer sur un PC prévu à cet effet. Cela vaut
        également
        pour
        le pitch, vous êtes les seuls à pouvoir intervenir et présenter. Vous pouvez consulter des aides en lignes, des
        tutos,
        vous pouvez appeler un ami pour partager des idées et bénéficier d'un coup de main, mais uniquement dans un
        cadre
        limité
        : aucun élément ne peut être fourni par une tierce personne, aucune action qui porte directement sur votre
        participation. Vous ne pouvez par exemple pas envoyer un screenshot pour une retouche, ou votre PPT pour une
        mise en
        page, c'est catégoriquement interdit, vous êtes les seuls maitres à bord avec votre éventuel co-participant, et
        les
        seuls à pouvoir fournir des éléments pour cette compétition.
        </p>
    </section>
</div>
