{% from "macros.html.j2" import article with context %}

<div class="p-4 md:p-10 border-2 border-solid border-spacecon-redish rounded-lg flex flex-col space-y-4">
    <header class="sticky top-0 left-0 flex justify-between">
        <h2 class="text-lg md:text-xl font-semibold font-sans">
            Game rules
        </h2>
        <label class="relative flex items-center cursor-pointer">
            <input type="checkbox" value="" class="sr-only peer" name="game-rules">
            <div
                class="w-11 h-6 bg-spacecon-white peer-checked:bg-spacecon-redish peer-focus:outline-none peer-focus:ring-2 ring-spacecon-violet/30 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[4px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all">
            </div>
            <span class="hidden sm:inline text-xs sm:text-sm ml-3 font-medium text-white">
                Toggle to accept
            </span>
        </label>
    </header>

    <section class="font-mono h-[200px] overflow-scroll text-justify flex flex-col space-y-2 resize-y">
        {{ article("Article 1: Context and Application", "
        Welcome to the regulations of the KSPACECONTEST powered by OMEN HP, which is part of SpaceCon '23. The members
        of the Kerbal Space Challenge association are proud to present this event, and we sincerely thank the SpaceCon
        association team for their trust and for entrusting us with this mission for the 2023 edition! Let's provide a
        brief introduction to our two entities:

        SpaceCon: SpaceCon is a non-profit association under the 1901 law. Its members are students and young
        professionals from the Saclay plateau and around the world, with the aim of organizing recurring space-related
        events. The association organizes and manages the event called SpaceCon'nect 23.

        Kerbal Space Challenge (KSC): We are an association of 10 enthusiasts who have been organizing the largest
        events in the French Kerbal Space Program community for a little over five years now. We are dedicated to
        energizing players, bringing them together, and providing platforms, forums, articles, and of course, social
        media channels. Join us at (https://kerbalspacechallenge.fr). We promise, we'll be redesigning the website soon.
        Through values of sharing and highlighting science and knowledge, KSC aims to promote and foster scientific
        careers. We now offer workshops in major schools centered around the Kerbal Space Program platform. And now,
        let's get to the #KSpaceContest.

        The event will take place over the weekend from Saturday, November 18th, to Sunday, November 19th, 2023. This
        time, following the deliberations of the juries, the prize distribution will take place on Sunday afternoon. The
        entire event will be held in Paris, in a historic setting, at the École Polytechnique de Paris. We hope that the
        values of this unique place - values of sharing, mutual assistance, and altruism - will shine on our
        participants. An educational environment that contrasts with the technology of a room full of gaming PCs but
        will certainly reveal your creativity and ingenuity! Our partner HP OMEN sponsors the event and allows us to
        offer you quality equipment; a big thank you to them. If this motivates you to put all your energy into it, know
        that the grand winner of this KSP competition will receive a handsome prize of €500! The 2nd, 3rd, and 4th
        places on the podium will share the Prize Pool formed by the entry fee to the event." ) }}

        {{ article("Article 2: Tournament Registration", "
        Registration for the tournament takes place through the following link: https://spacecon.io/ksp. You will need
        to complete a short form with essential information and pay a fee of €15 per person. This fee will contribute to
        the Prize Pool, which will be awarded to the 2nd, 3rd, and 4th places, as described in Article 6. Additionally,
        this entry fee directly includes a valid ticket to participate in the SpaceConnect day on Friday, November 17th,
        valued at €25. This participation is subject to proper involvement in the competition, extending up to the
        presentation pitch of the first phase. Registration is possible from August 15th, 2023, to November 15th, 2023.
        It will not be possible to register on-site on the day of the event itself. Please note: registration is limited
        to 19 slots for participants, so don't hesitate for too long! It's worth noting that participating as a team of
        2 is recommended but not mandatory. One section of the form will invite you to enter the name of your
        co-participant; they can be a KSP player or a simple companion. They will be the only person allowed to assist
        you in person during the competition. Participants must be over 14 years old, and minors must have written
        authorization to present on the event day.") }}

        {{ article("Article 3: Competition Process", "
        The competition consists of two distinct phases: the creation phase and the presentation phase. Participants are
        expected to arrive on Saturday, November 18th, at 9 AM at the École Polytechnique de Paris. On-site instructions
        will help you locate our teams without difficulty. You will be welcomed with a breakfast buffet, providing an
        opportunity to get to know each other around this shared passion that drives you. At 9:45 AM, there will be an
        opening speech and introduction to the organizing team, the challenge, and, of course, the topic and additional
        rules that will finally be revealed. An equipped room will be available with 24 computers containing the game
        and a selection of pre-installed mods common to all participants. These are primarily part mods; no gameplay
        changes are to be feared, so no worries. One PC per team. At 10 AM, the competition officially begins. It will
        last 24 hours, uninterrupted, until Sunday at 10 AM. You will have 24 hours to complete your mission in KSP,
        prepare a presentation, and a 5-minute pitch, not a second more. This is all the jury will see of your work, so
        pay special attention to your support materials, arguments, discourse, and enthusiasm! Buffets will be available
        for candidates during lunchtime, in the evening, and the following morning. The school will also provide a rest
        area for you to recharge. We are currently negotiating preferential rates at a nearby apart'hotel for those
        seeking the comfort of a proper night's sleep. Given this extended new format of the competition, we strongly
        advise you to participate as a team of 2 to take shifts. In 2021, it was a sprint; in 2023, we're attempting a
        marathon. As soon as the final whistle blows, the presentations begin at 10 AM. The jury will consist of 6 to 8
        individuals, divided into two half-juries A and B, to be able to accommodate all participants in about 2 hours.
        Each half-jury will comprise KSP players and space enthusiasts, respectively belonging to the Kerbal Space
        Challenge association and the SpaceCon association staff, along with an expert and professional in the field.
        You need to convince these different types of interlocutors; it's essential. Each of these half-juries will
        select its two finalists after about twenty minutes of deliberation following the passage of the last
        participant. On Sunday, around 12 PM, the 4 finalists will be announced. After a well-deserved lunch break, at
        1:30 PM, the 4 finalists will each have 10 minutes to present to the reunified jury. At 3 PM, the podium winners
        and the overall winner will be announced. We are here to address any questions you might have, of course.") }}


        {{ article("Article 4: Game Rules", "
        The specific rules will only be revealed on the event day, on-site! This is a format for which you cannot
        prepare in advance; come armed with your talent, creativity, and spontaneity.") }}

        {{ article("Article 5: Arbitration", "
        As mentioned in Article 3 of this regulation, the competition consists of two phases, each with its own
        evaluation:

        Phase 1: Participants will present their pitch to two half-juries of 3 individuals each, including 2 KSP players
        and space enthusiasts, as well as a professional from the field. Each half-jury will select 2 participants from
        those they have seen, without consulting the other half-jury. There are no specific criteria, scoring scales, or
        rating grids, but the jurors will have discussed beforehand the competition's objectives, desired values, key
        elements, etc.

        Phase 2: The 4 finalists will present their pitches again to the reunified jury. There will be no specific
        criteria, scoring scales, or rating grids, but the jurors will have exchanged opinions on their expectations.
        After deliberation, they will determine the order of winners.

        The decisions of the jurors at each stage cannot be contested. They are the sole decision-makers for selecting
        the finalists and awarding the prizes. There are no plans to provide a ranking or formal feedback for
        participants in the first phase. However, we encourage players to interact with the jurors and staff present
        during the 2 days, as well as with other participants!") }}

        {{ article("Article 6: Rewards", "
        At the end of the 2 phases, the winners will receive the following rewards:

        The first place winner will receive a prize of 500 euros.
        The second place winner will receive an amount corresponding to 60% of the Prize Pool formed by the competition
        entries.
        The third place winner will receive an amount corresponding to 30% of the Prize Pool formed by the competition
        entries.
        The fourth place winner will receive an amount corresponding to 10% of the Prize Pool formed by the competition
        entries.

        For example, if 24 participants register and pay the mandatory 15 euros each, the Prize Pool will amount to 360
        euros. In this case, the first-place winner will receive 500 euros, the second-place winner would receive 216
        euros, the third-place winner would receive 108 euros, and the fourth-place winner would receive 36 euros,
        rounded up to the nearest euro if necessary. All participants will receive some quality goodies!

        Payments will be made within 30 days via bank transfer.") }}

        {{ article("Article 7: Violations of Regulations", "
        To ensure the smooth running of the competition and fairness among participants, here are some formal rules and
        prohibitions to adhere to:

        It is strictly prohibited to manipulate any file in the KSP installation. This includes not being able to import
        or export crafts, modify part characteristics, teleport elements, install or remove mods, etc. Nothing is
        allowed within the game directory, except for retrieving stored screenshots. The staff will be very vigilant on
        this matter and reserves the right to verify the integrity of the installation.

        Once Phase 1 is completed, the 4 finalists are not allowed to evolve their KSP save. The presentation for the
        second phase should only use the elements available at the end of the first phase. However, they can take their
        Save file home to revisit it and retrieve information. They can also take the entire Screenshots folder to find
        new illustrations for the presentation of the second phase. However, it is strictly forbidden to take new
        screenshots using the Save and integrate them into your Phase 2 PowerPoint. The staff will precisely have the
        folder as it was sealed at the end of Phase 1 for comparison.

        Only you and your potential co-participant are allowed to use a designated PC. This applies to the pitch as
        well; only you are allowed to intervene and present. You can consult online resources, tutorials, call a friend
        to share ideas and get help, but only within limited boundaries: no element can be provided by a third person,
        no action that directly affects your participation. For example, you cannot send a screenshot for retouching or
        your PPT for formatting; it is categorically forbidden. You and your potential co-participant are the only ones
        in control; you are the sole masters on board and the only ones able to provide elements for this competition.")
        }}
    </section>
</div>
