<section class="bg-[#3e1f64] p-10 md:p-20 flex flex-col space-y-8 items-center justify-center min-h-full" id="pitch">
    <div class="w-full lg:w-2/3 flex flex-col space-y-4 md:space-x-4 md:flex-row md:justify-start md:items-center">
        <h1 class="sm:text-5xl md:text-6xl lg:text-7xl text-4xl font-bold tracking-tight leading-none  text-white">
            #<span class="underline decoration-white">SpaceCon</span>cept
        </h1>

        <a type="button" href="https://forms.gle/gFKFPdd4Jxz35D3J6" target="_blank" class="text-white flex justify-center items-center bg-gradient-to-r from-purple-500 to-pink-500
            hover:bg-gradient-to-l font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            <span>Register</span><i class="ml-2 fa-solid fa-rocket text-lg"></i>
        </a>
    </div>
    <div class="w-full xl:w-2/3 flex flex-col md:flex-row justify-center items-center">
        <div class="w-full flex md:w-2/3 md:justify-between">
            <div class="w-full md:w-4/5 flex flex-col space-y-6 justify-center text-white">
                <h2 class="text-5xl font-bold tracking-tight leading-none">You have an innovative
                    idea
                    for a space startup?
                </h2>
                <p>
                    The second edition of the pitch contest by SpaceCon
                    ✕ Incuballiance. <strong> Turn your idea into a space business</strong> with
                    us. You will have the chance to present your project in
                    front of a jury of investors and experts. Compete to win a package that will help
                    your space startup take off.
                </p>
                <div class="flex flex-col space-y-6 md:flex-row pt-10 justify-between items-center">
                    <div>
                        <svg aria-hidden="true" class="w-8 h-7 text-white" viewBox="0 0 24 27" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
                                fill="currentColor" />
                        </svg>
                        <blockquote class="italic font-medium text-2xl text-white">
                            "Very good memories"
                        </blockquote>
                        <div class="flex items-center justify-between">
                            <cite class="font-medium text-white mr-2"><a href="https://twitter.com/Chloe_Mathon"
                                    target="_blank">Chloé</a></cite>
                            <a href="https://twitter.com/Chloe_Mathon/status/1638885044264501249?s=20"
                                title="Link to the related tweet"><i class="text-white fa-brands fa-twitter"></i></a>
                        </div>
                    </div>
                    <div class="flex flex-col items-center space-y-2">
                        <span class="text-sm">In partnership with</span>
                        <a class="w-2/3 md:w-full" href="https://incuballiance.fr" target="_blank"
                            title="Link to the Incuballiance website"><img width="124" height="76"
                                src="./img/incuballiance-white.svg" alt="Incuballiance Logo in White" loading="lazy">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full sm:w-1/2 lg:w-1/3 order-first md:order-last">
            <img width="1024" height="1024"
                srcset="./img/isometric-480.webp 480w, ./img/isometric-640.webp 640w, ./img/isometric.webp 1024w"
                sizes="(max-width: 480px) 100vw, (max-width: 640px) 50vw, 33vw" loading="lazy"
                alt="Image in the tones of pink and purple of a rocket in the middle of a room with some audience looking at it" />
        </div>
    </div>
</section>
