{% from "macros.html.j2" import tick %}


{% macro package(name, desc, color, price, features, discountable=true) -%}
{% set discounted_x_text = "discount ? price/2 : price"%}

<div data-price="{{ price }}" x-data="{price: $el.dataset.price }"
    class="flex-col space-y-3 justify-center bg-{{ color }}/20 text-{{ color }} p-8 rounded items-start">
    <div class="flex-col space-y-10">
        <div class="flex flex-col">
            <h2 class="text-5xl tracking-tighter font-semibold">{{ name }}</h2>
            <h3 class="text-2xl tracking-tighter leading-6 font-medium">{{ desc }}</h3>
        </div>
        <div class="flex items-start">
            <span class="text-xl mt-2">€</span>
            <span class="text-6xl font-bold tracking-tighter"
                x-text="{{ discounted_x_text if discountable else 'price'}}"></span>
        </div>
        <ul role="list" class="tracking-tight">
            {% for feature in features -%}
            <li>{{ tick(color) }} {{ feature }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{%- endmacro %}



<section id="sponsor"
    class="relative bg-spacecon-white w-full overflow-hidden sm:overflow-visible flex-col space-y-20 lg:space-y-0 lg:flex lg:flex-row justify-center text-spacecon-magenta py-20 lg:px-40 gap-16">
    <div class="w-full lg:w-1/5 flex-col space-y-10 mt-3 px-10 lg:px-0">
        {% for level, entries in sponsors.items() %}
        <div class="p-2 bg-{{ level.color }}/30 rounded-lg tracking-tighter">
            <h3 class="font-semibold text-{{ level.color }} text-center text-3xl"> {{ level.name }} </h3>
        </div>
        <ul class="flex-col items-center space-y-10">
            {% for entry in entries%}
            <li class="flex justify-center">
                <a class="flex justify-center w-full" href="{{ entry.url.href }}" title="{{ entry.url.title }}"
                    target="_blank">
                    <img width="640" height="360" loading="lazy" class="w-5/6" src="{{ entry.logo.src }}"
                        alt="{{ entry.logo.alt }}">
                </a>
            </li>

            {% endfor %}
        </ul>
        {% endfor %}
    </div>
    <div class="w-full lg:w-4/5 justify-center px-10 lg:px-4">
        <div>
            <h1 class="text-5xl sm:text-6xl lg:text-7xl font-semibold tracking-tighter">Support SpaceCon</h1>
            <h2 class="text-3xl sm:text-4xl font-medium tracking-tighter"> Change the space narrative </h2>
        </div>
        <div class="mt-20">
            <h3 class="text-3xl font-semibold tracking-tighter">Why sponsoring SpaceCon?</h3>
            <ul role="list" class="flex flex-col space-y-6 mt-4">
                <li>SpaceCon'23 will be the <strong>third edition</strong> of the event. The
                    first
                    edition was in <a class="underline hover:text-spacecon-redish" target="_blank"
                        href="https://2019.spacecon.io">2019</a>, counting 150+ attendees. The second edition was in
                    <a class="underline hover:text-spacecon-redish" target="_blank"
                        href="https://2021.spacecon.io">2021</a>,
                    held over two days, and counting 400+ attendees. For the third edition, we aim at doubling the
                    public again. Your brand will benefit from the reach of a large crowd of space enthusiasts.
                </li>
                <li>
                    The legal entity behind SpaceCon is a <strong>non-profit</strong> based in France. Donating to
                    support the convention will possibly unlock tax benefits for you or your firm. As an example, in
                    France 66% of donation could be deducted from your tax declaration.
                </li>
                <li>
                    Comic-Con started somewhere. All big events did. We're <strong>lifting off</strong> right now. We
                    have a vision to create one of the biggest space-related events, with focus on inclusivity and
                    entertainment. Be a first supporter, and leave a sign for the future to come.
                </li>
                <li>
                    We believe the best opportunities in life are found when you're not looking for them. Sponsor the
                    event, and access our experience. Find prospective students for your programs, recruit skillful
                    candidates, access early to startup ideas that will thrive tomorrow. But above all, have, and help
                    everybody having, fun.
                </li>
            </ul>
        </div>

        <div x-data="{discount: false}" class="flex flex-col mt-10 sm:mt-20 space-y-4">
            <label class="relative inline-flex items-center cursor-pointer">
                <input x-model="discount" type="checkbox" value="" class="sr-only peer">
                <div
                    class="w-11 h-6 bg-spacecon-violet/30 peer-checked:bg-spacecon-violet peer-focus:outline-none peer-focus:ring-2 ring-spacecon-violet/30 rounded-full peer peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all">
                </div>
                <span class="text-xs sm:text-sm ml-3 font-medium text-spacecon-magenta">Early startup, association,
                    university,
                    lab</span>
            </label>

            <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-4">
                {{ package("Moon", "A custom package for an individual need", "rose-500", "1000", ["Custom individual
                benefit"])}}
                {{ package("Mars", "The entry level package to support the event", "spacecon-violet", "2500", ["Booth",
                "Logo on
                website"])}}

                {{ package("Venus", "Give your brand an incredible visibility", "spacecon-magenta", "5000", ["Everything
                from
                <strong>Mars</strong> package",
                "Join a panel"])}}

                {{ package("Earth", "Acquire an exclusive space in the line-up", "spacecon-redish", "10000",
                ["Everything
                from
                <strong>Venus</strong> package", "Sponsored Keynote", "Video ads"])}}

                {{ package("Neptune", "Be a major supporter of SpaceCon®", "[#7D1758]", "15000", ["Everything from
                <strong>Earth</strong> package", "Sponsored tutorial", "Dedicated branded relax zone"], false)}}

                {{ package("Sun", "Caption the event! SpaceCon® by <strong>YourCorp</strong>", "orange-700", "20000",
                ["Everything from
                <strong>all</strong> packages"], false)}}

                <div class="flex flex-col space-y-8 text-spacecon-magenta text-right place-items-end">
                    <div class="flex flex-col space-y-4">
                        <h2 class="tracking-tighter font-bold text-4xl leading-9">These are
                            just
                            suggestions
                        </h2>
                        <h2 class="tracking-tighter leading-6 font-semibold text-2xl">We are able
                            to
                            help you
                            with customized sponsoring packages
                        </h2>
                    </div>
                    <ul role="list" class="flex flex-col">
                        <li> {{ tick("spacecon-magenta") }} Discounted ticket bundles</li>
                        <li> {{ tick("spacecon-magenta") }} Tutorial session</li>
                        <li> {{ tick("spacecon-magenta") }} Participate to the contests</li>
                        <li class="font-bold tracking-tight">Much more...</li>
                    </ul>
                    <a href="mailto:info@spacecon.io"
                        class="w-2/3 xl:w-1/3 rounded-md p-3 bg-spacecon-violet hover:bg-spacecon-magenta text-white text-center">
                        <span class="text-lg">Contact us</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="partners" x-data="{}" class="bg-spacecon-white flex flex-col gap-12 items-center justify-center p-4">
    <h3 class="text-spacecon-violet font-semibold leading-tight text-4xl md:text-6xl"> Our partners</h3>
    <ul class="flex flex-wrap items-center justify-center gap-8">
        {% for partner in partners %}
        <li class="w-full sm:w-1/3 md:w-1/6 lg:w-1/12 flex-shrink-0"><img src="{{ partner.img_path }}"
                alt="{{ partner.name }}" loading="lazy" /></li>
        {% endfor %}
    </ul>
</section>
