<canvas class="z-0 absolute w-full h-full" id="starrysky" width="100%" height="100%"></canvas>

<script>


    function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    function getRandom(min, max) {
        return Math.random() * (max - min) + min;
    }

    class Star {
        constructor(canvas) {
            this.x = getRandomInt(0, canvas.offsetWidth);
            this.y = getRandomInt(0, canvas.offsetHeight);
            this.opacity = Math.random();
        }
    }

    /* Canvas setup */
    let canvas = document.getElementById("starrysky");
    let ctx = canvas.getContext("2d");

    /* Animation setup */
    let start;
    let frameDelay = 1; // Seconds
    let numStars = 250;
    let numStarsToChange = 10;
    let stars = [];
    /* end setup */


    function initStars() {
        while (stars.length < numStars) {
            stars.push(new Star(canvas));
        }
    }

    function draw() {
        for (const i of Array(numStarsToChange).keys()) {
            let opacityChange = getRandom(-1, 1);
            let starId = getRandomInt(0, stars.length - 1);
            let star = stars[starId];

            if ((star.opacity - opacityChange) <= 0) {
                // Conserve number of stars
                stars.splice(starId, 1);
                stars.push(new Star(canvas));

            } else {
                star.opacity = Math.min(star.opacity + opacityChange, 1);
            }
        }


        ctx.clearRect(0, 0, canvas.width, canvas.height);
        for (const star of stars) {
            ctx.globalAlpha = star.opacity;
            ctx.fillRect(star.x, star.y, 1, 1);
            ctx.globalAlpha = 1.0;
        }
    }

    function resizeCanvas() {
        let width = canvas.parentNode.offsetWidth;
        let height = canvas.parentNode.offsetHeight;
        if (canvas.width != width ||
            canvas.height != height) {
            canvas.width = width;
            canvas.height = height;
            ctx.fillStyle = "#FFF";
            stars = []
            initStars();
        }

    }

    function wrapper(timestamp) {
        resizeCanvas();

        if (start == undefined) {
            start = timestamp
            initStars();
            draw();
        }


        elapsed = timestamp - start

        if (elapsed >= frameDelay * 1000) {
            start = timestamp;
            draw();

        }

        window.requestAnimationFrame(wrapper);

    }

    window.requestAnimationFrame(wrapper);

</script>
