<div class="w-4/5 flex flex-col gap-4 items-center">
    <h3 class="text-xl">Form validation errors:</h3>
    <ul class="flex flex-col">
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    <button class="bg-spacecon-redish hover:bg-spacecon-redish/80 md:w-1/4 p-2 rounded-md"
        @click="history.back()">Back</button>
</div>
