{% macro player_info(id)%}
<section class="w-1/2 flex flex-col border-2 border-solid border-spacecon-white/60 rounded-lg p-2">
    <h4 class="font-medium text-lg">Player #{{ id }} </h4>
    <div class="flex flex-col p-16">
        <div class="flex gap-2">
            {% set nick = players[id].nickname %}
            {% set pronouns = players[id].pronouns %}
            <input class="bg-transparent" type="text" name="First Name" value="{{ players[id].first_name }}" disabled>
            <input class="bg-transparent" type="text" name="Last Name" value="{{ players[id].last_name }}" disabled>
            {% if nick %}<input type="text" name="Nickname" value="{{ nick }}" disabled>{% endif %}
        </div>
        <div>
            <input class="bg-transparent" type="email" value="{{ players[id].email }}" disabled>
        </div>
    </div>
</section>
{% endmacro %}


<form hx-post="http://127.0.0.1:8787/ksp/finalize" class="w-4/5 flex flex-col justify-center gap-4">
    <h3 class="font-semibold text-3xl text-center"><input disabled class="bg-transparent text-center" type="text"
            value="{{ team }}"></h3>
    <div class="flex justify-between gap-4">
        {{ player_info(0) }}
        {{ player_info(1) }}
    </div>
    <div class="flex justify-center">
        <button class="bg-spacecon-redish hover:bg-spacecon-redish/80 p-2 md:w-1/4 rounded-md">Register your
            team</button>
    </div>
</form>
